/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.App {
  background-color: #0D0A19;
  height: 1000px;
  display: flex;
  flex-direction: column;

}
.tokenDisplay {
  height: 80px;
  background-color: #16112B;
  border-radius: 10px;
  margin: 5%;
  padding: 1%;
  display: flex;
  flex-direction: row;
  align-items: center;
  
}

img { 
  height: 70px;
  border-radius: 100px;

}


.Pic{
  padding-right: 3%;
  padding-left: 2%;
  display: flex;
  align-items: center;
}


.filler {
  flex: 1;
}

p {
  font-weight: bold;
  font-size: 18px;
  padding: 0%;
  margin-top: 10px;
  margin-bottom: 0%;
  

}

.Money {
  margin-right: 3%;
  text-align: right;
}