body {
    background-color: #0D0A19;
}


.main {
  height: 200px;
  width: 200px;
  background-color: #0D0A19;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  padding: 10px;
  box-sizing: border-box;
}

.Total p {
  text-align: center;
  font-size: 50px !important;
  color: #fff;
  font-weight: 900;
}

p {
    padding: 0;
    margin: 0;
}

.bottomContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.left {
    text-align: left;
    font-size: 16px;
    background-color: #ffffff0f;
    padding: 2%;
    border-radius: 5px ;
}

.right {
    text-align: right;
    font-size: 16px;
    background-color: #ffffff0f;
    padding: 2%;
    border-radius: 5px;

}

.filler{
    flex: 1;
}